#photo-perfil {
  border-radius: 50%;
  width: 150px;
  margin-left: 300px;
}

#portfolio {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#portfolio-container {
  text-align: center;
}

#references {
  list-style: none;
}

#references a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(100, 100, 250);
  text-decoration: none;
}

#references li {
  margin-bottom: 10px;
}

#foto {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 20px;
  color: teal;
}

#skills-title {
  color: blueviolet;
}

#skills {
  background-color: greenyellow;
}

#small {
  margin-top: 30px;
  margin-bottom: 30px;
}

#xadrez {
  color: teal;
}

#chess-link {
  color: darkorange;
  text-decoration: none;
}

body {
  margin-left: 20px;
  margin-right: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
